@model dynamic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="div_background">
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order Date
        </dt>
        <dd class="col-sm-10">
            @ViewBag.OrderDate
        </dd>
        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Username
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Price
        </dd>
        <dt class="col-sm-2">
            Branch
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Branchname
        </dd>
        <dt class="col-sm-2">
            Pizzas
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < ViewBag.Pizzas.Count; i++)
            {
                @ViewBag.Pizzas[i].Quantity
                @: X
                <a href="\Pizzas\Details\@ViewBag.Pizzas[i].PizzaId">@ViewBag.Pizzas[i].Pizzas.Name</a>
                @:<br />
            }
        </dd>
    </dl>
</div>
@if (this.User.IsInRole("Admin"))
{
<div>
    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@ViewBag.id">Edit</a>
    <a type="button" class="btn btn-info" asp-action="Index">Back</a>
</div>
}
