@model IEnumerable<Store_Project.Models.Pizza>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PizzaIndexLayout.cshtml"; }

<h1>תפריט</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{@Html.AntiForgeryToken()}


<div>
    <div class="bg-light p-4">
        <h4 class="text-black-50">Advanced Search</h4>

        <form id="SearchComplexAjaxForm" class="float">
            <div class="container">
                <div class="row">
                    <div class="input-group mb-3">
                        <input name="searchquery" id="searchQuery" placeholder="Pizza Name" autocomplete="off" />

                        <div class="col-1"></div>

                        <input name="searchprice" id="searchprice" placeholder="Price Limit" autocomplete="off" />
                        <br />
                        <span name="priceerror" id="priceerror" class="text-danger"></span>

                        <div class="col-1"></div>

                        <select class="form-control custom-select col-3" id="currency">
                            <option value="ILS" selected="selected">ILS</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group mb-3">

                        <select class="form-control" multiple asp-items="@ViewBag.tags" name="tagsearch" id="tagsearch"></select>

                        <div class="col-1"></div>

                        <select class="form-control custom-select col-3" multiple asp-items="@ViewBag.pizzaSauces" name="saucesearch" id="saucesearch" style="width:200px"></select>

                        <div class="col-1"></div>

                        <select class="form-control" multiple asp-items="@ViewBag.toppings" name="toppingsearch" id="toppingsearch"></select>
                    </div>
                </div>

            </div>
            <br />

        </form>
    </div>
</div>




<div id="cards-pizza">

    @foreach (var item in Model)
    {
<a asp-action="AddToOrder" asp-route-id="@item.Id" title="Add to Order...">
    <div class="card col-md-3 col-sm-4">
        @if (item.Pizza_image.Image_content != null)
        {
            string img = Convert.ToBase64String(item.Pizza_image.Image_content);
<img class="card-img-top" alt="Card image cap" src="data:image/png;base64,@img">                }
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
            <h6 class="card-subtitle mb-2 text-muted price-shadow">@Html.DisplayFor(modelItem => item.Price) שקלים</h6>
            <h6 class="card-subtitle mb-2 text-muted">
                @for (int i = 0; i < item.Pizza_tags.Count; i++)
                {
                    @Html.DisplayFor(m => item.Pizza_tags[i].Name);
                    if (i == item.Pizza_tags.Count - 1)
                        break;
                    @: |
                }
                <br />
                @for (int i = 0; i < item.Pizza_toppings.Count; i++)
                {
                    @Html.DisplayFor(m => item.Pizza_toppings[i].Name);
                    if (i == item.Pizza_toppings.Count - 1)
                        break;
                    @: |
                }
            </h6>
           @Html.DisplayFor(modelItem => item.Pizza_sauce) sauce<br />
           @Html.DisplayFor(modelItem => item.Pizza_width) crust<br />
           @Html.DisplayFor(modelItem => item.Pizza_size) size<br />
            @if (item.With_cheese)
            {
@:With Cheese
}
else
{
@:Without Cheese
}


        </div>
    </div>
</a>}
</div>

<script type="text/x-custom-html" id="tableSearchTemplate">
    <a href="/Pizzas/AddToOrder/{id}" title="Add to Order...">
        <div class="card col-md-3 col-sm-4" >
            <img class="card-img-top" alt="Card image cap" src="data:image/png;base64,{pizza_image}">
                        <div class="card-body">
                            <h5 class="card-title">{name}</h5>
                            <h6 class="card-subtitle mb-2 text-muted price-shadow">{price}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {pizza_tags}
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {pizza_toppings}
                            </h6>
                            {pizza_sauce} sauce<br />
                            {pizza_width} crust<br />
                            {pizza_size} size<br />
                            {with_cheese}<br />
                        </div>
        </div>
    </a>

</script>


@section Scripts{
    <script src="~/js/pizzaSearch.js"></script>
}