@model IEnumerable<Store_Project.Models.Pizza>

@{ ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Menu</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{@Html.AntiForgeryToken()}



<div class="bg-light p-4">
    <h4 class="text-white-50">Advanced Search</h4>

    <form id="SearchComplexAjaxForm" class="float">
        <div class="container">
            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </span>
                    <input class="form-control col-3" name="searchquery" id="searchQuery" placeholder="Pizza Name" autocomplete="off" />

                    <div class="col-1"></div>
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                            <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z" />
                            <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z" />
                        </svg>
                    </span>
                    <input class="form-control col-3" name="searchprice" id="searchprice" placeholder="Price Limit" autocomplete="off" />
                    <br />
                    <div class="input-group-prepend">
                    </div>
                    <span name="priceerror" id="priceerror" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-3">

                    <select class="form-control" multiple asp-items="@ViewBag.tags" name="tagsearch" id="tagsearch"></select>

                    <div class="col-1"></div>

                    <select class="form-control custom-select col-3" multiple asp-items="@ViewBag.pizzaSauces" name="saucesearch" id="saucesearch" style="width:200px"></select>

                    <div class="col-1"></div>

                    <select class="form-control" multiple asp-items="@ViewBag.toppings" name="toppingsearch" id="toppingsearch"></select>
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <label class="input-group-text">Change Currency</label>
                        <label class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-exchange" viewBox="0 0 16 16">
                                <path d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z" />
                            </svg>
                        </label>
                        <select class="custom-select col-3" id="currency">
                            <option value="ILS" selected="selected">ILS</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                        </select>
                    </div>

                </div>
            </div>
            <input type="reset" value="Clear Search" class="btn btn-warning" style="float: right;" />

        </div>
        <br />

    </form>
</div>






<div id="cards-pizza" class="container">
    <div class="row align-items-stretch" id="toClean">
        @foreach (var item in Model)
        {
            <div class="card h-100">
                <a asp-action="Details" asp-route-id="@item.Id">
                    @if (item.Pizza_image.Image_content != null)
                    {
                        string img = Convert.ToBase64String(item.Pizza_image.Image_content);
                        <img class="card-img-top" alt="Card image cap" src="data:image/png;base64,@img">}
                </a>
                <div class="card-body">
                    <h5 class="card-title" id="name_@item.Id">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <b class="card-title price-shadow" id="price_@item.Id">@Html.DisplayFor(modelItem => item.Price)</b>
                    <div class="card-subtitle mb-2 text-muted">
                        @foreach (var tag in item.Pizza_tags)
                        {
                            <div class="col-4 badge badge-secondary" style="background-color:@tag.Color">
                                <span name="Tags" value="@tag.Id" disabled></span>
                                <label>@tag.Name</label><br>
                            </div>
                        }
                    </div>
                    <div class="card-text">
                        <u>Toppings</u>:
                        @for (int i = 0; i < item.Pizza_toppings.Count; i++)
                        {
                            @Html.DisplayFor(m => item.Pizza_toppings[i].Name);
                            if (i == item.Pizza_toppings.Count - 1)
                                break;
                            @: |
                        }
                    </div>
                    @Html.DisplayFor(modelItem => item.Pizza_sauce) sauce<br />
                    @Html.DisplayFor(modelItem => item.Pizza_width) crust<br />
                    @Html.DisplayFor(modelItem => item.Pizza_size) size<br />
                    @if (item.With_cheese)
                    {
                        @:With Cheese
                    }
                    else
                    {
                        @:Without Cheese
                    }
                    <br />

                    <button type="button" class="btn btn-outline-secondary" onclick="AddPizza(@item.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
                        </svg>
                        Add to Order
                        <span class="visually-hidden">Button</span>
                    </button>

                </div>
            </div>
        }
    </div>
</div>



<script type="text/x-custom-html" id="tableSearchTemplate">
    <div class="card h-100">
        <a href="/Pizzas/Details/{id}">
            <img class="card-img-top" alt="Card image cap" src="data:image/png;base64,{pizza_image}">
        </a>
                    <div class="card-body">
                        <h5 class="card-title" id="name_{id}">{name}</h5>
                        <b class="card-title" id="price_{id}">{price}</b>
                        <div class="card-subtitle mb-2 text-muted">
                            {pizza_tags}
                        </div>
                        <div class="card-text">
                            <u>Toppings</u>:
                            {pizza_toppings}
                        </div>
                        {pizza_sauce} sauce<br />
                        {pizza_width} crust<br />
                        {pizza_size} size<br />
                        {with_cheese}<br />

                        <button type="button" class="btn btn-outline-secondary" onclick="AddPizza({id})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
                            </svg>
                            Add to Order
                            <span class="visually-hidden">Button</span>
                        </button>
                    </div>
    </div>
    <br /><br />

</script>

<br />
<br />
<div class="side-by-side">
    <div class="col-sm-5">
        <b class="text-black-50">Select Branch</b>
        <select class="form-control" asp-items="@ViewBag.Branches" name="selectedBranch" id="selectedBranch">
        </select>
    </div>

    <div class="col-sm-2"></div>

    <div class="col-sm-5">
        <b class="text-black-50">My Order</b>
        <table id="myOrder" class="col-sm-5"></table>
        
    </div>

</div>
<br />
<br />
<center>
    <input type="button" id="orderready" value="Send Order" class="btn btn-primary" data-toggle="modal" data-target="#OrderConfirm">
    <span id="orderError" class="text-danger"></span>

    <!-- Modal -->
    <div class="modal fade" id="OrderConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to order this pizzas?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary"  onclick="MyOrder()" value="Send Order"/>
                </div>
            </div>
        </div>
    </div>
</center>


@section Scripts{
    <script src="~/js/pizzaSearch.js"></script>
    <script src="~/js/pizzaOrder.js"></script>
}
